<div class="website_container " id="[<unique_element_id>]" onclick="customYEA()">
    <h2>Demo Template Title of [<unique_element_id>] element</h2>
    <div class="website_content">
        This is some static text before going to - <strong>[<demo_text_to_replace>]</strong>
    </div>
    <div class="website_content">
        SECOND VARIABLE DEMO - <strong>[<second_variable>]</strong>
    </div>
    <div class="website_content">
        33333 VARIABLE DEMO - <strong>[<yeaaa_variable>]</strong>
    </div>
</div>
<style>
    #[<unique_element_id>] {
        background: blue;
        color: red;
        padding: 10px;
    }
</style>